---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";

import { SITE } from "@config";
import type { GetStaticPaths } from "astro";
import getPosts from "@utils/getPosts";

export const getStaticPaths = (async ({ paginate }) => paginate(
  await getPosts(),
  { pageSize: SITE.postsPerPage }
)) satisfies GetStaticPaths;

const { page } = Astro.props;

/** The title of the Posts section. */
const title = "posts";

/** The description of the Posts section. */
const description = "all the blog posts I've let loose on the world";
---

<Layout {title} {description} activeNav="posts">
  <Main {title} {description}>
    <ul>
      {page.data.map(({ data, id }) => <Card {id} {data}/>)}
    </ul>
  </Main>

  <Pagination {page}/>
</Layout>
