---
import { render, getEntry } from "astro:content"

import BaseLayout from "@/layouts/BaseLayout.astro"
import Tag from "@/components/Tag.astro"
import Timestamp from "@/components/Timestamp"
import PostLinks from "@/components/PostLinks.astro"
import ShareLinks from "@/components/ShareLinks.astro"
import BackToTop from "@/components/BackToTop.astro"
import BackButton from "@/components/BackButton.astro"

import ScrollProgress from "@/components/ScrollProgress.astro"
import CodeBlockExtras from "@/components/CodeBlockExtras.astro"

import { allPosts } from "@/utils/allPosts"
import type { EntryInfo } from "@/types"

type Props = Readonly<{
  /** The post to display. */
  post: EntryInfo<"posts">
}>

export function getStaticPaths() {
  return allPosts.map(post => ({
    params: { id: post.id },
    props: { post },
  }))
}

const { post } = Astro.props

const {
  id,
  title,
  description,
  published,
  modified,
  tags,
} = post

const { Content, remarkPluginFrontmatter } = await render(
  await getEntry("posts", id)!
)
---

<BaseLayout
  {title}
  {description}
  postInfo={post}
  activeNav="posts"
>
  <BackButton/>

  <main>
    <header>
      <h1>{title}</h1>
      <Timestamp {published} {modified}/>
      <span class="reading-time" hidden>
        reading time: {remarkPluginFrontmatter.readingTime}
      </span>
    </header>
    
    <article>
      <Content/>
    </article>

    <ul class="tag-list" hidden>
      {tags.map(tag => <Tag {tag} size="sm"/>)}
    </ul>
    <hr aria-hidden={true}/>

    <footer>
      <ShareLinks/>
      <BackToTop/>
    </footer>

    <PostLinks {post}/>
  </main>
</BaseLayout>

<style lang="sass">
  :global(.back-button)
    margin: 2rem auto 0.5rem
    width: 100%
    justify-content: flex-start

  main
    +margin-x(auto)
    width: 100%
    padding-bottom: 1.5rem

    header
      h1
        +font(1.5rem, font-weights.$semibold)
        color: colors.$accent
  
      .reading-time
        display: inline
        opacity: 80%
      
      :global(.timestamp)
        +margin-y(0.25rem)

    article
      margin-top: 2rem

    .tag-list
      display: block
      +margin-y(2rem, 1rem)
      @include hide-in-print
      + hr
        +margin-y(2rem)
        @include desktop
          display: none
        @include hide-in-print
    
    footer
      +padding-x(0rem)
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      gap: 1.5rem
      
      @include desktop
        flex-direction: row
        align-items: flex-end
        gap: 1rem

      @include hide-in-print
</style>

<ScrollProgress/>
<CodeBlockExtras/> 
