---
import type { Post } from '$/types/content'
import type { GetStaticPathsResult } from 'astro'

import { render } from 'astro:content'
import PageSchema from '$/components/misc/PageSchema.astro'
import License from '$/components/post/License.astro'
import Markdown from '$/components/post/Markdown.astro'
import PostHeader from '$/components/post/PostHeader.astro'
import PostPagination from '$/components/post/pagination/PostPagination.astro'
import MainGridLayout from '$/layouts/MainGridLayout.astro'
import siteConfig from '$/config/site'
import { getSortedPosts } from '$/utils/content'
import { postStructuredData } from '$/utils/structuredData'

export async function getStaticPaths() {
  const posts = await getSortedPosts()
  return posts.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  })) satisfies GetStaticPathsResult
}

export interface Props {
  entry: Post
}

const { entry }: Props = Astro.props
const { Content, headings, remarkPluginFrontmatter } = await render(entry)
---

<MainGridLayout
  title={entry.data.title}
  description={entry.data.description}
  setOGTypeArticle={true}
  {headings}
>
  <Fragment slot="head">
    <PageSchema json={postStructuredData(entry, remarkPluginFrontmatter)} />
  </Fragment>

  <div class="post-container-wrapper">
    <div id="post-container">
      <PostHeader
        {entry}
        wordCount={remarkPluginFrontmatter.words}
        readingTime={remarkPluginFrontmatter.minutes}
      />

      <Markdown class="markdown">
        <Content />
      </Markdown>

      {
        siteConfig.license !== undefined && (
          <License
            config={siteConfig.license}
            title={entry.data.title}
            pubDate={entry.data.published}
            class="post-license"
          />
        )
      }
    </div>
  </div>

  <PostPagination {entry} />
</MainGridLayout>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/transition';
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  .post-container-wrapper {
    display: block flex;

    margin-block-end: spacing(4);

    border-radius: var(--radius-xl2);

    inline-size: 100%;

    overflow: hidden;

    #post-container {
      @extend %card-base;

      z-index: 10;

      padding-block: spacing(6) spacing(4);
      padding-inline: spacing(6);

      inline-size: 100%;

      :global(.markdown) {
        @extend %onload-animation;

        margin-block-end: spacing(6);
      }

      :global(.post-license) {
        @extend %onload-animation;

        margin-block-end: spacing(6);
      }

      @include md {
        padding-inline: spacing(9);
      }
    }
  }

  #post-container {
    $delays: (
      1: 0ms,
      2: 50ms,
      3: 100ms,
      4: 175ms,
      5: 250ms,
      6: 325ms,
    );

    @each $index, $delay in $delays {
      > :global(:nth-child(#{$index})) {
        animation-delay: calc(var(--content-delay) + #{$delay});
      }
    }
  }
</style>
