---
import { render, type CollectionEntry } from "astro:content";

import Layout from "@layouts/Layout.astro";
import Tag from "@components/Tag.astro";
import Comments from "@components/Comments";
import Timestamp from "@components/Timestamp";
import PostLinks from "@components/PostLinks.astro";
import ShareLinks from "@components/ShareLinks.astro";
import BackToTop from "@components/BackToTop.astro";
import BackButton from "@components/BackButton.astro";

import ScrollProgress from "@components/scripts/ScrollProgress.astro";
import HeadingLinks from "@components/scripts/HeadingLinks.astro";
import CodeBlockExtras from "@components/scripts/CodeBlockExtras.astro";

import getPosts from "@utils/getPosts";

export interface Props {
  /** The post to display. */
  post: CollectionEntry<"blog">,
}

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;

const {
  title,
  description,
  published,
  modified,
  tags,
} = post.data;

const { Content } = await render(post);

/** A list of all posts, sorted by date. */
const posts = await getPosts();
---

<Layout
  {title}
  ogTitle={title}
  {description}
  {published}
  {modified}
>
  <BackButton class="back-button"/>

  <main>
    <header>
      <h1>{title}</h1>
      <Timestamp {published} {modified} size="lg" className="timestamp"/>
      <!-- @ts-ignore: Object is of type "unknown". -->
      <span class="reading-time" hidden>{post.rendered!.metadata!.frontmatter.readingTime}</span>
    </header>
    
    <article>
      <Content/>
    </article>

    <ul class="tag-list">
      {tags.map(tag => <Tag {tag}/>)}
    </ul>

    <hr/>

    <footer>
      <BackToTop/>
      <ShareLinks/>
    </footer>

    <PostLinks {post} {posts}/>
    <Comments client:only="react"/>
  </main>
</Layout>

<style lang="sass">
  .back-button
    margin: 2rem auto 0.5rem
    width: 100%
    justify-content: flex-start
    +padding-x(1rem)

  main
    +margin-x(auto)
    width: 100%
    padding:
      left: 1rem
      right: 1rem
      bottom: 3rem

  h1
    font-size: font-sizes.$extralarge2
    font-weight: font-weights.$semibold
    color: colors.$accent

  article
    margin-top: 2rem
  
  .reading-time
    display: inline
    opacity: 80%
  
  .timestamp
    +margin-y(0.5rem, 0.25rem)

  .tag-list
    +margin-y(2rem, 1rem)
    +hide-in-print
    + hr
      +margin-y(2rem)
      +desktop
        display: none
      +hide-in-print
  
  footer
    +padding-x(0rem)
    display: flex
    flex-direction: column-reverse
    align-items: center
    justify-content: space-between
    gap: 1.5rem
    
    +desktop
      flex-direction: row-reverse
      align-items: flex-end
      gap: 1rem

    +hide-in-print
</style>

<ScrollProgress/>
<HeadingLinks/>
<CodeBlockExtras/>

<script is:inline data-astro-rerun>
  /* go to page start after transition */
  document.addEventListener("astro:after-swap", () =>
    scrollTo({ left: 0, top: 0, behavior: "instant" })
  );
</script>
