---
import path from 'node:path'
import type { Post } from '$/types/content'
import { getDir } from '$/utils/urls'
import { Icon } from 'astro-icon/components'
import ImageWrapper from '$/components/misc/ImageWrapper.astro'

interface Props {
  entry: Post
  image: NonNullable<Post['data']['image']>
  url: string
}

const { entry, image, url } = Astro.props
---

<a href={url} aria-label={entry.data.title}>
  <div class='icon-wrapper'>
    <Icon name='tabler:chevron-right' />
  </div>

  <ImageWrapper
    src={image.source}
    basePath={path.join('content/posts/', getDir(`${entry.id}/`))}
    alt={image.alt}
    class='image'
  />
</a>

<style lang='scss'>
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  a {
    @include transition;

    position: relative;

    margin-block: spacing(4) spacing(-2);
    margin-inline: spacing(4);

    border-radius: $radius-xl;

    max-block-size: 20vh;

    overflow: hidden;

    &:hover {
      .icon-wrapper :global(svg) {
        scale: 100%;

        opacity: 100%;
      }

      :global(.image) {
        filter: brightness(70%);
      }
    }

    &:active {
      scale: 95%;

      :global(.image) {
        filter: brightness(50%);
      }
    }

    .icon-wrapper {
      display: block flex;
      position: absolute;

      align-items: center;
      justify-content: center;

      z-index: 20;

      block-size: 100%;
      inline-size: 100%;

      pointer-events: none;

      :global(svg) {
        @include transition;

        scale: 50%;

        opacity: 0%;

        block-size: spacing(12);
        inline-size: spacing(12);

        color: white;
      }
    }

    :global(.image) {
      @include transition;

      block-size: 100%;
      inline-size: 100%;
    }

    @include md {
      position: absolute;
      inset-block: spacing(3);
      inset-inline-end: spacing(3);

      margin-block: 0;
      margin-inline: 0;

      max-block-size: none;
      inline-size: var(--cover-width);
    }
  }
</style>
