---
import type { Post } from '$/types/content'

import PostMeta from '$/components/post/meta/PostMeta.astro'
import PostLink from '$/components/post/card/PostLink.astro'
import { Icon } from 'astro-icon/components'
import { render } from 'astro:content'
import PostExtraMeta from '$/components/post/meta/PostExtraMeta.astro'

interface Props {
  class?: string
  entry: Post
  url: string
  style: string
}
const { class: className, entry, url, style } = Astro.props

const { title, image, description } = entry.data
const { remarkPluginFrontmatter } = await render(entry)

const coverWidth = image === undefined ? '3.25rem' : '28%'
---

<article class={className} {style}>
  <div class="info-wrapper">
    <h2>
      <a href={url}>
        {title}
        <Icon name="tabler:chevron-right" />
      </a>
    </h2>

    <PostMeta {entry} compactOnMobile={true} class="meta-items" />

    <div class="description">
      {description}
    </div>

    <footer>
      <PostExtraMeta
        wordCount={remarkPluginFrontmatter.words}
        readingTime={remarkPluginFrontmatter.minutes}
      />
    </footer>
  </div>

  <PostLink {entry} {url} />
</article>

<style lang="scss" define:vars={{ 'cover-width': coverWidth }}>
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  article {
    @extend %card-base;

    display: block flex;
    position: relative;

    flex-direction: column-reverse;

    border-radius: $radius-xl2;

    inline-size: 100%;

    overflow: hidden;

    // post separator
    &:not(:first-child)::after {
      margin-inline: spacing(6);

      border-block-start: 1px dashed black(10%);

      content: '';

      @include variants.dark {
        border-block-start-color: white(15%);
      }

      @include variants.md {
        display: none;
      }
    }

    .info-wrapper {
      padding: spacing(6);

      h2 a {
        @include font-size($text-xl3);
        @include text-plain(90%);

        display: block flow;

        margin-block-end: spacing(3);

        inline-size: 100%;

        font-weight: $font-weight-bold;

        &::before {
          display: none;
          position: absolute;
          inset-block-start: spacing(9);
          inset-inline-start: spacing(4.5);

          border-radius: $radius-md;

          background-color: var(--primary);

          block-size: spacing(5);
          inline-size: spacing(1);

          content: '';

          @include variants.md {
            display: block flow;
          }
        }

        &:hover {
          color: var(--primary);
        }

        &:active {
          color: var(--title-active);
        }

        @include variants.dark {
          &:hover {
            color: var(--primary);
          }

          &:active {
            color: var(--title-active);
          }
        }

        svg {
          display: inline flow;
          position: absolute;

          translate: 0;

          block-size: spacing(8);
          inline-size: spacing(8);

          color: var(--primary);

          @include variants.md {
            translate: spacing(-1);

            opacity: 0%;
          }
        }

        @include variants.md {
          &:hover svg {
            translate: 0;

            opacity: 100%;
          }
        }
      }

      :global(.meta-items) {
        margin-block-end: spacing(4);
      }

      .description {
        @include text-plain(75%);

        margin-block-end: spacing(3.5);

        padding-inline-end: spacing(4);
      }

      @include variants.md {
        padding-block-start: spacing(7);
        padding-inline: spacing(9) spacing(2);

        inline-size: calc(100% - var(--cover-width) - 12px);
      }
    }

    @include variants.md {
      flex-direction: column;
    }
  }
</style>
