---
import ImageWrapper from "$/components/misc/ImageWrapper.astro"
import { Icon } from "astro-icon/components"
import { profileConfig } from "$/config"
import { url } from "$/utils/urls"
---

<div class="profile-card">
  <a aria-label="Go to About Page" href={url("/about/")} class="avatar group">
    <div
      class="icon-wrapper absolute transition pointer-events-none group-hover:bg-black/30 group-active:bg-black/50 w-full h-full z-50 flex items-center justify-center"
    >
      <Icon
        name="tabler:user-square"
        size="3rem"
        class="transition opacity-0 scale-90 group-hover:scale-100 group-hover:opacity-100 text-white"
      />
    </div>
    <ImageWrapper
      src={profileConfig.avatar}
      alt="My profile"
      loading="eager"
      class="mx-auto lg:w-full h-full lg:mt-0"
    />
  </a>

  <div class="info">
    <div class="name">{profileConfig.name}</div>
    <div class="separator"></div>
    <div class="bio">{profileConfig.bio}</div>

    <ul class="links">
      {
        profileConfig.links.map((link) => (
          <a
            rel="me"
            aria-label={link.name}
            href={link.url}
            target="_blank"
            class:list={[profileConfig.links.length === 1 ? "small" : "large"]}
          >
            <Icon name={link.icon} size="1.75rem" />
            {profileConfig.links.length === 1 && link.name}
          </a>
        ))
      }
    </ul>
  </div>
</div>

<style lang="scss">
  @use "$/styles/main";
  @use "$/styles/theme" as *;
  @use "$/styles/utils" as *;
  @use "$/styles/variants";

  .profile-card {
    @extend .card-base;
    padding: spacing(3);

    .avatar {
      @apply block relative mx-auto mt-1 lg:mx-0 lg:mt-0 mb-3 max-w-[12rem] lg:max-w-none overflow-hidden rounded-xl active:scale-95;

      background-image: linear-gradient(
        to bottom,
        alpha(var(--profile-gradient-top), 20%),
        alpha(var(--profile-gradient-bottom), 20%)
      );
    }
    .info {
      @include padding-x(spacing(2));

      .name {
        font-weight: $font-weight-bold;
        @include font-size($text-xl);
        text-align: center;
        margin-bottom: spacing(1);
        @include transition();
        @include variants.dark {
          color: $color-neutral-50;
        }
      }

      .separator {
        height: spacing(1);
        width: spacing(10);
        background-color: var(--primary);
        margin: spacing(2) auto;
        border-radius: 9999px;
        @include transition();
      }

      .bio {
        text-align: center;
        margin-bottom: spacing(2.5);
        @include transition();
        color: $color-neutral-400;
      }

      .links {
        display: flex;
        gap: spacing(2);
        justify-content: center;
        margin-bottom: spacing(1);

        a {
          @extend .btn-regular;
          border-radius: $radius-lg;
          height: spacing(10);

          &.small {
            @include padding-x(spacing(2));
            font-weight: $font-weight-bold;

            &:active {
              scale: 95%;
            }
          }
          &.large {
            width: spacing(10);
            &:active {
              scale: 90%;
            }
          }
        }
      }
    }
  }
</style>
