---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";

import getUniqueTags from "@utils/getUniqueTags";
import getPosts from "@utils/getPosts";
import type { GetStaticPathsOptions } from "astro";
import { SITE } from "@config";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getPosts();
  const tags = await getUniqueTags();

  return tags.flatMap(tag => paginate(
    posts.filter(post => post.data.tags.includes(tag)),
    { params: { tag }, pageSize: SITE.postsPerPage }
  ));
}

const { tag } = Astro.params;
const { page } = Astro.props;

/** This page's title. */
const title = `tag: ${tag}`;

/** This page's description. */
const description = `${page.total} ${page.total === 1 ? "article" : "articles"} tagged with "${tag}"`;
---

<Layout {title} {description} activeNav="tags">
  <Main {title} {description}>
    <h1 slot="title">{title}</h1>
    <ul>
      {page.data.map(({ data, id }) => <Card {id} {data}/>)}
    </ul>
  </Main>

  <Pagination {page}/>
</Layout>
