---
import { formatDate } from "$/utils/dates"
import { Icon } from "astro-icon/components"
import { licenseConfig, profileConfig } from "$/config"
import { i18n } from "$/i18n/translation"
import I18nKey from "$/i18n/i18nKey"

type Props = Readonly<{
  title: string
  pubDate: Date
  class: string
}>

const { title, pubDate, class: className } = Astro.props
const postUrl = decodeURIComponent(Astro.url.toString())
---

<div class:list={["license-wrapper", className]}>
  <hgroup>
    <header>{title}</header>
    <a href={postUrl}>{postUrl}</a>
  </hgroup>
  <div class="details">
    <div>
      <header>
        {i18n(I18nKey.author)}
      </header>
      <div class="details-text">
        {profileConfig.name}
      </div>
    </div>
    <div>
      <header>
        {i18n(I18nKey.publishedAt)}
      </header>
      <div class="details-text">
        {formatDate(pubDate)}
      </div>
    </div>
    <div>
      <header>
        {i18n(I18nKey.license)}
      </header>
      <a href={licenseConfig.url} target="_blank" class="details-link">
        {licenseConfig.name}
      </a>
    </div>
  </div>
  <Icon name="tabler:creative-commons" size="15rem" class="cc-icon" />
</div>

<style lang="scss">
  @use "$/styles/main";
  @use "$/styles/theme" as *;
  @use "$/styles/utils" as *;
  @use "$/styles/variants";

  .license-wrapper {
    @include transition();
    position: relative;
    overflow: hidden;
    background-color: var(--license-block-bg);
    padding: spacing(5) spacing(6);

    hgroup {
      header {
        @include transition();
        @include text-plain(75%);
        font-weight: $font-weight-bold;
      }
      a {
        @extend .link;
        color: var(--primary);
      }
    }

    .details {
      display: flex;
      gap: spacing(6);
      margin-top: spacing(2);

      flex-direction: column;
      @include variants.sm {
        flex-direction: row;
      }

      header {
        @include transition();
        @include text-plain(30%);
        @include font-size($text-sm);
      }

      .details-text {
        @include transition();
        @include text-plain(75%);
        white-space: nowrap;
      }
      .details-link {
        @extend .link;
        color: var(--primary);
        white-space: nowrap;
      }
    }

    .cc-icon {
      @include transition($properties: $transition-colors);
      @include text-plain(5%);
      position: absolute;
      pointer-events: none;
      right: spacing(6);
      top: 50%;
      // translate: 0 -50%;

      right: 50%;
      translate: 50% -50%;
      @include variants.sm {
        right: spacing(6);
        translate: 0 -50%;
      }
    }
  }
</style>
