---
import { formatDate } from "$/utils/dates"
import { Icon } from "astro-icon/components"
import { licenseConfig, profileConfig } from "$/config"
import { i18n } from "$/i18n/translation"
import I18nKey from "$/i18n/i18nKey"

type Props = Readonly<{
  title: string
  pubDate: Date
  class: string
}>

const { title, pubDate, class: className } = Astro.props
const postUrl = decodeURIComponent(Astro.url.toString())
---

<div class={`license-wrapper ${className}`}>
  <h1>{title}</h1>
  <a href={postUrl}>{postUrl}</a>
  <div class="license-details">
    <div>
      <h2>
        {i18n(I18nKey.author)}
      </h2>
      {profileConfig.name}
    </div>
    <div>
      <h2>
        {i18n(I18nKey.publishedAt)}
      </h2>
      {formatDate(pubDate)}
    </div>
    <div>
      <h2>
        {i18n(I18nKey.license)}
      </h2>
      <a href={licenseConfig.url} target="_blank">
        {licenseConfig.name}
      </a>
    </div>
  </div>
  <Icon name="tabler:creative-commons" size="15rem" />
</div>

<style>
  .license-wrapper {
    @apply relative transition overflow-hidden bg-[--license-block-bg] py-5 px-6;
    h1 {
      @apply transition font-bold text-black/75 dark:text-white/75;
    }
    a {
      @apply link text-[--primary];
    }
    .license-details {
      @apply flex flex-col gap-2 mt-2 sm:flex-row sm:gap-6;
    }

    div {
      @apply transition text-black/75 dark:text-white/75 whitespace-nowrap;
      h2 {
        @apply text-black/30 dark:text-white/30 text-sm;
      }
      a {
        @apply link text-[--primary] !important;
      }
    }

    svg {
      @apply transition absolute pointer-events-none right-6 top-1/2 -translate-y-1/2 text-black/5 dark:text-white/5;
    }
  }
</style>
