---
import Layout from "@layouts/Layout.astro";
import ExternalLink from "@components/ExternalLink.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getPosts from "@utils/getPosts";
import { SITE, SOCIALS } from "@config";

/** A list of all posts, sorted by date. */
const posts = await getPosts();

/** All featured posts. */
const featuredPosts = posts.filter(post => post.data.featured);

/** All non-featured posts. */
const nonFeaturedPosts = posts.filter(post => !post.data.featured);
---

<Layout>
  <main>
    <section id="hero">
      <h1>いらっしゃいませ</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="RSS feed"
        title="RSS feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg">
          <path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"/>
          <path d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"/>
          <circle cx="6" cy="18" r="2"/>
        </svg>
      </a>

      <div class="prose">
        <p>
          I&rsquo;m Kaleb, and I&rsquo;m quite content to float around aimlessly online. Take a gander at <a href="about">my about page</a> for more info.
        </p>
        <p>
          If you want a look under the hood, you can find this site&rsquo;s source code <ExternalLink href="https://github.com/kaascevich/kaascevich.github.io">here</ExternalLink> &mdash; I based it off of <ExternalLink href="https://astro-paper.pages.dev">AstroPaper</ExternalLink>, and used <ExternalLink href="https://catppuccin.com">Catppuccin</ExternalLink> for the colors.
        </p>
      </div>
      {SOCIALS.length > 0 &&
        <div class="social-wrapper">
          <div class="social-links">&ldquo;Social&rdquo; links:</div>
          <Socials/>
        </div>
      }
    </section>

    <Hr/>

    {featuredPosts.length > 0 && <>
      <section id="featured">
        <h2>featured</h2>
        <ul>
          {featuredPosts.map(({ data, id }) =>
            <Card {id} {data} level2Heading={false}/>
          )}
        </ul>
      </section>
      {nonFeaturedPosts.length > 0 && <Hr/>}
    </>}

    {nonFeaturedPosts.length > 0 &&
      <section id="recent-posts">
        <h2>recent</h2>
        <ul>
          {nonFeaturedPosts.map(({ data, id }, index) => index < SITE.postsPerIndex &&
            <Card {id} {data} level2Heading={false}/>
          )}
        </ul>
      </section>
    }

    <div id="all-posts-button-wrapper">
      <LinkButton href="/posts/">
        all posts &rarr;
      </LinkButton>
    </div>
  </main>
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    padding-top: theme("spacing.8");
    padding-bottom: theme("spacing.6");

    & h1 {
      @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
    }
    & .rss-link {
      margin-bottom: theme("spacing.6");
      & svg {
        @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
      }
    }
    & p {
      margin-top: theme("spacing.2");
      margin-bottom: theme("spacing.2");
    }
  }

  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  #featured, #recent-posts {
    padding-top: theme("spacing.12");
    padding-bottom: theme("spacing.6");

    & h2 {
      @apply text-2xl font-semibold tracking-wide;
    }
  }
  #all-posts-button-wrapper {
    margin-bottom: theme("spacing.8");
    text-align: center;
  }
</style>
