---
import Layout from "@layouts/Layout.astro";
import ExternalLink from "@components/ExternalLink.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";

import RSSIcon from "@assets/icons/rss.svg";

import getPosts from "@utils/getPosts";
import { SITE } from "@config";

/** A list of all posts, sorted by date. */
const posts = await getPosts();

/** All featured posts. */
const featuredPosts = posts.filter(post => post.data.featured);

/** All non-featured posts. */
const nonFeaturedPosts = posts.filter(post => !post.data.featured);
---

<Layout>
  <main>
    <section id="hero">
      <h1 lang="ja">私のサイトへようこそ！</h1>
      <a
        target="_blank"
        href="/rss.xml"
        id="rss-link"
        aria-label="RSS feed"
        title="RSS feed"
      >
        <RSSIcon/>
      </a>

      <article class="prose">
        <p>
          I&rsquo;m Kaleb, and I&rsquo;m quite content to float around aimlessly online. Take a gander at <a href="about">my about page</a> for more info.
        </p>
        <p>
          If you want a look under the hood, you can find this site&rsquo;s source code <ExternalLink href="https://github.com/kaascevich/kaascevich.github.io">here</ExternalLink> &mdash; I based it off of <ExternalLink href="https://astro-paper.pages.dev">AstroPaper</ExternalLink> (the code is almost unrecognizable, but the design is pretty similar), and used <ExternalLink href="https://catppuccin.com">Catppuccin</ExternalLink> for the colors.
        </p>
      </article>
      <div class="social-wrapper">
        <div class="social-links-text">&ldquo;Social&rdquo; links:</div>
        <Socials/>
      </div>
    </section>

    <Hr/>

    {featuredPosts.length > 0 && <>
      <section id="featured">
        <h2>featured</h2>
        <ul>
          {featuredPosts.map(({ data, id }) =>
            <Card {id} {data} level2Heading={false}/>
          )}
        </ul>
      </section>
      {nonFeaturedPosts.length > 0 && <Hr/>}
    </>}

    {nonFeaturedPosts.length > 0 &&
      <section id="recent-posts">
        <h2>recent</h2>
        <ul>
          {nonFeaturedPosts.slice(0, SITE.postsPerIndex).map(({ data, id }) =>
            <Card {id} {data} level2Heading={false}/>
          )}
        </ul>
      </section>
    }

    <div id="all-posts-button-wrapper">
      <LinkButton href="/posts/">
        all posts &rarr;
      </LinkButton>
    </div>
  </main>
</Layout>

<style lang="sass">
  #hero
    +padding-y(1rem, 1.5rem)

    h1
      +margin-y(1rem)
      display: inline-block
      font-weight: $font-weight-bold
      font-size: $font-size-2xl
      @include desktop
        +margin-y(2rem)
        font-size: $font-size-5xl
    
    #rss-link
      margin-bottom: 1.5rem
      svg
        margin-bottom: 0.5rem
        +size(1.5rem)
        scale: 110%
        color: $color-accent
        @include desktop
          margin-bottom: 0.75rem
          scale: 125%
          
    p
      +margin-y(0.5rem)

  .social-wrapper
    margin-top: 1rem
    display: flex
    flex-direction: column
    @include desktop
      flex-direction: row
      align-items: center
  
  .social-links-text
    margin-bottom: 0.25rem
    margin-right: 0.5rem
    white-space: nowrap
    @include desktop
      margin-bottom: 0rem

  #featured, #recent-posts
    +padding-y(3rem, 1.5rem)

    h2
      font-size: $font-size-2xl
      font-weight: $font-weight-semibold
      letter-spacing: $letter-spacing-wide
      
  #all-posts-button-wrapper
    margin-bottom: 2rem
    text-align: center
    @include hide-in-print
</style>
