---
import { Icon } from 'astro-icon/components'
import strings from '$/config/strings'
import type { PageLinkLayout } from '$/utils/pages'

export interface Props {
  pageLinks: PageLinkLayout
  current: number
}

const { pageLinks, current } = Astro.props

function getPageUrl<Page extends number>(page: Page) {
  return page === 1 ? '/' : `/${page}/`
}
---

<ol>
  {
    pageLinks[0] !== null && (
      <>
        <a
          href={getPageUrl(pageLinks[0])}
          aria-label={strings.alts.pageNum(pageLinks[0])}
          class="other-page"
        >
          {pageLinks[0]}
        </a>
        <Icon name="tabler:dots" class="hidden-pages" />
      </>
    )
  }
  {
    pageLinks[1].map((page) =>
      page === current ? (
        <div class="current-page">{page}</div>
      ) : (
        <a
          href={getPageUrl(page)}
          aria-label={strings.alts.pageNum(page)}
          class="other-page"
        >
          {page}
        </a>
      ),
    )
  }
  {
    pageLinks[2] !== null && (
      <>
        <Icon name="tabler:dots" class="hidden-pages" />
        <a
          href={getPageUrl(pageLinks[2])}
          aria-label={strings.alts.pageNum(pageLinks[2])}
          class="other-page"
        >
          {pageLinks[2]}
        </a>
      </>
    )
  }
</ol>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;

  ol {
    display: block flex;

    flex-direction: row;

    align-items: center;

    border-radius: var(--radius-lg);

    background-color: var(--color-card-bg);

    color: var(--color-pagination-link);

    font-weight: var(--fw-bold);
  }

  .hidden-pages {
    margin-inline: spacing(1);
  }

  .current-page,
  .other-page {
    border-radius: var(--radius-lg);

    block-size: spacing(11);
    inline-size: spacing(11);
  }

  .current-page {
    display: block flex;

    align-items: center;
    justify-content: center;

    background-color: var(--color-primary);

    color: var(--color-pagination-current);
  }

  .other-page {
    @extend %btn-card;

    overflow: hidden;

    &:active {
      scale: 85%;
    }
  }
</style>
