---
import { Icon } from 'astro-icon/components'
import strings from '$/config/strings'
import type { PageLinkLayout } from '$/utils/pages'

interface Props {
  pageLinks: PageLinkLayout
  current: number
}

const { pageLinks, current } = Astro.props

function getPageUrl<Page extends number>(page: Page) {
  return page === 1 ? '/' : `/${page}/` as const
}
---

<ol>
  {
    pageLinks[0] !== null && (
      <>
        <a
          href={getPageUrl(pageLinks[0])}
          aria-label={strings.alts.pageNum(pageLinks[0])}
          class="other-page"
        >
          {pageLinks[0]}
        </a>
        <Icon name="tabler:dots" class="hidden-pages" />
      </>
    )
  }
  {
    pageLinks[1].map((page) =>
      page === current ? (
        <div class="current-page">{page}</div>
      ) : (
        <a
          href={getPageUrl(page)}
          aria-label={strings.alts.pageNum(page)}
          class="other-page"
        >
          {page}
        </a>
      ),
    )
  }
  {
    pageLinks[2] !== null && (
      <>
        <Icon name="tabler:dots" class="hidden-pages" />
        <a
          href={getPageUrl(pageLinks[2])}
          aria-label={strings.alts.pageNum(pageLinks[2])}
          class="other-page"
        >
          {pageLinks[2]}
        </a>
      </>
    )
  }
</ol>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  ol {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: $radius-lg;

    background-color: var(--card-bg);

    color: $color-neutral-700;
    font-weight: $font-weight-bold;

    @include variants.dark {
      color: $color-neutral-300;
    }
  }

  .hidden-pages {
    margin-right: spacing(1);
    margin-left: spacing(1);
  }

  .current-page,
  .other-page {
    width: spacing(11);
    height: spacing(11);

    border-radius: $radius-lg;
  }

  .current-page {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);

    color: white;

    @include variants.dark {
      color: black(70%);
    }
  }

  .other-page {
    @extend %btn-card;

    overflow: hidden;

    &:active {
      scale: 85%;
    }
  }
</style>
