---
import type { Page } from 'astro'
import type { Post } from '$/types/content'
import strings from '$/config/strings'
import PageButton from '$/components/control/pagination/PageButton.astro'
import { pageLinkLayout } from '$/utils/pages'
import PageLinks from '$/components/control/pagination/PageLinks.astro'

interface Props {
  page: Page<Post>
  class?: string
  style?: string
}

const { page, class: className, style } = Astro.props

const pageLinks = pageLinkLayout(page)
---

<nav class={className} {style}>
  <PageButton
    url={page.url.prev}
    label={strings.alts.prevPage}
    icon="tabler:chevron-left"
  />
  <PageLinks {pageLinks} current={page.currentPage} />
  <PageButton
    url={page.url.next}
    label={strings.alts.nextPage}
    icon="tabler:chevron-right"
  />
</nav>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  nav {
    display: block flex;

    flex-direction: row;

    gap: spacing(3);

    justify-content: center;
  }
</style>
