---
export interface Props {
  /** The URL this button links to. */
  href: string,
  /** Classes to apply to this button. */
  class?: string,
  /** The accessibility label for this button. */
  ariaLabel?: string,
  /** The title for this button. */
  title?: string,
  /** Whether this button is disabled. */
  disabled?: boolean,
}

const {
  href,
  class: className = "",
  ariaLabel,
  title,
  disabled = false,
} = Astro.props;
---

{
  disabled ? (
    <span {title} class={`link-button disabled ${className}`} aria-disabled>
      <slot/>
    </span>
  ) : (
    <a {href} {title} class={`link-button ${className}`} aria-label={ariaLabel}>
      <slot/>
    </a>
  )
}

<style lang="scss">
  .link-button {
    display: inline-block;
    
    &:not(.disabled):hover {
      color: rgb(var(--color-accent));
    }
  }
</style>
