---
export interface Props {
  /** The URL this button links to. */
  href: string,
  /** Classes to apply to this button. */
  class?: string,
  /** The accessibility label for this button. */
  ariaLabel?: string,
  /** The title for this button. */
  title?: string,
  /** Whether this button is disabled. */
  disabled?: boolean,
}

const {
  href,
  class: className = "",
  ariaLabel,
  title,
  disabled = false,
} = Astro.props;
---

{
  disabled ? (
    <span
      class={`group inline-block ${className}`}
      {title}
      aria-disabled={disabled}
    >
      <slot/>
    </span>
  ) : (
    <a
      {href}
      class={`group inline-block hover:text-skin-accent ${className}`}
      aria-label={ariaLabel}
      {title}
    >
      <slot/>
    </a>
  )
}
