---
import { SITE } from "@/config"
import type { EntryInfo } from "@/types"

interface Props {
  /** The song's metadata. */
  song: EntryInfo<"songs">,
}

const {
  song: { id, title, remixDetails }
} = Astro.props

/** THe file path of this song's audio file. */
const sourceURL = `/assets/songs/${id}.mp3`

/** This song's author. */
const author = remixDetails?.composer ?? SITE.author
---

<li>
  <h2>
    <a href={sourceURL}>{title}</a>
  </h2>

  <p>
    {author} {remixDetails && <a href={remixDetails.originalLink}>original</a>}
  </p>

  <audio src={sourceURL} preload="metadata" controls/>
</li>

<style lang="sass">
  li
    background: colors.$card
    border-radius: border-radiuses.$large
    padding: 0.75rem
  
    h2
      display: inline-block
      +font(font-sizes.$large, font-weights.$medium)
      color: colors.$accent
      a:hover
        text-decoration: underline

    p
      opacity: 75%
      a
        +hover-transition($color: colors.$accent)
        font-style: italic
        font-size: 0.75rem
    
    audio
      padding-top: 0.25rem
</style>
