---
import type { CollectionEntry } from "astro:content";
import { SITE } from "@config";

export interface Props {
  /** The song's frontmatter. */
  frontmatter: CollectionEntry<"songs">["data"],
}

const { frontmatter } = Astro.props;
const { title, sourcePath, remixDetails } = frontmatter;

const sourceURL = `/assets/songs/${sourcePath}`;

/** This song's author. */
const author = remixDetails?.composer ?? SITE.author
---

<li>
  <div class="song-card">
    <div class="song-card-header">
      <h2>
        <a href={sourceURL}>{title}</a>
      </h2>
    </div>

    <p>
      {author} {remixDetails && <>(<a href={remixDetails.linkToOriginal}>orig.</a>)</>}
    </p>

    <audio
      src={sourceURL}
      preload="metadata"
      controls
    />
  </div>
</li>

<style>
  .song-card {
    @apply bg-skin-card-muted rounded-lg p-3;
  }
  
  .song-card-header {
    @apply inline-block text-lg font-medium;
  }
  .song-card-header h2 {
    @apply text-lg font-medium;
  }
  .song-card-header h2 a {
    @apply text-skin-accent hover:underline hover:decoration-wavy;
  }

  p {
    @apply opacity-75;
  }
  audio {
    @apply pt-1;
  }
</style>
