---
import type { CollectionEntry } from "astro:content";
import { SITE } from "@config";

export interface Props {
  /** The song's frontmatter. */
  data: CollectionEntry<"songs">["data"],
}

const { data } = Astro.props;
const { title, sourcePath, remixDetails } = data;

const sourceURL = `/assets/songs/${sourcePath}`;

/** This song's author. */
const author = remixDetails?.composer ?? SITE.author
---

<li>
  <div class="song-card">
    <h2>
      <a href={sourceURL}>{title}</a>
    </h2>

    <p>
      {author} {remixDetails && <>(<a href={remixDetails.linkToOriginal}>orig.</a>)</>}
    </p>

    <audio
      src={sourceURL}
      preload="metadata"
      controls
    />
  </div>
</li>

<style lang="sass">
  .song-card
    background-color: rgb(var(--color-card-muted))
    border-radius: theme("borderRadius.lg")
    padding: theme("spacing.3")
  
    h2
      @apply inline-block text-lg font-medium
      a
        @apply text-skin-accent hover:underline hover:decoration-solid

    p
      opacity: 75%
    audio
      padding-top: theme("spacing.1")
  }
</style>
