---
import type { CollectionEntry } from "astro:content";
import { SITE } from "@config";

export interface Props {
  /** The song's frontmatter. */
  data: CollectionEntry<"songs">["data"],
}

const { data } = Astro.props;
const { title, sourcePath, remixDetails } = data;

const sourceURL = `/assets/songs/${sourcePath}`;

/** This song's author. */
const author = remixDetails?.composer ?? SITE.author
---

<li>
  <h2>
    <a href={sourceURL}>{title}</a>
  </h2>

  <p>
    {author} {remixDetails && <>(<a href={remixDetails.linkToOriginal}>orig.</a>)</>}
  </p>

  <audio src={sourceURL} preload="metadata" controls/>
</li>

<style lang="sass">
  li
    background-color: colors.$card
    border-radius: border-radiuses.$large
    padding: 0.75rem
  
    h2
      display: inline-block
      font-weight: font-weights.$medium
      font-size: font-sizes.$large
      color: colors.$accent

    a:hover
      text-decoration: underline

    p
      opacity: 75%
      a
        font-style: italic
    
    audio
      padding-top: 0.25rem
</style>
