---
import type { CollectionEntry } from "astro:content";
import { SITE } from "@config";

export interface Props {
  /** The song's frontmatter. */
  data: CollectionEntry<"songs">["data"],
}

const { data } = Astro.props;
const { title, sourcePath, remixDetails } = data;

const sourceURL = `/assets/songs/${sourcePath}`;

/** This song's author. */
const author = remixDetails?.composer ?? SITE.author
---

<li>
  <div class="song-card">
    <h2>
      <a href={sourceURL}>{title}</a>
    </h2>

    <p>
      {author} {remixDetails && <>(<a href={remixDetails.linkToOriginal}>orig.</a>)</>}
    </p>

    <audio
      src={sourceURL}
      preload="metadata"
      controls
    />
  </div>
</li>

<style lang="sass">
  .song-card
    background-color: $color-card
    border-radius: $border-radius-lg
    padding: 0.75rem
  
    h2
      display: inline-block
      font-weight: $font-weight-medium
      font-size: $font-size-lg
      a
        color: $color-accent

    a:hover
      text-decoration: underline solid

    p
      opacity: 75%
    audio
      padding-top: 0.25rem
</style>
