---
import strings from '$/config/strings'
import ExtraMetaItem from './ExtraMetaItem.astro'

export interface Props {
  wordCount: number
  readingTime: number
  class?: string
}

const { wordCount, readingTime, class: className } = Astro.props
---

<div class={className}>
  <ExtraMetaItem
    icon="tabler:align-justified"
    label={strings.alts.wordCount}
    text={strings.meta.words(wordCount)}
  />
  <ExtraMetaItem
    icon="tabler:clock"
    label={strings.alts.readingTime}
    text={strings.meta.minutes(readingTime)}
  />
</div>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;
  @use '$/styles/variants' as *;

  div {
    display: block flex;

    flex-direction: row;

    gap: spacing(5);
  }
</style>
