---
import type { Post } from '$/types/content'

import strings from '$/config/strings'

import MetaItem from '$/components/post/meta/MetaItem.astro'
import MetaDate from '$/components/post/meta/MetaDate.astro'
import MetaLink from '$/components/post/meta/MetaLink.astro'

interface Props {
  class: string
  entry: Post
  compactOnMobile?: boolean
}

const { class: className, entry, compactOnMobile = false } = Astro.props
const { published, updated, category, tags } = entry.data

const showUpdated =
  updated !== undefined && updated.getTime() !== published.getTime()
---

<div class:list={['meta-items', className]}>
  <MetaDate icon="tabler:calendar-plus" date={published} />
  {showUpdated && <MetaDate icon="tabler:calendar-cog" date={updated} />}

  <MetaItem icon="tabler:category">
    <MetaLink
      href={`/archive/category/${category}/`}
      label={strings.alts.category(category)}
    >
      {category}
    </MetaLink>
  </MetaItem>

  <MetaItem icon="tabler:hash" hideOnMobile={compactOnMobile}>
    <ul>
      {
        tags.length === 0 ? (
          <li>{strings.tags.none}</li>
        ) : (
          tags.map((tag) => (
            <li>
              <MetaLink
                href={`/archive/tag/${tag}/`}
                label={strings.alts.tag(tag)}
              >
                {tag}
              </MetaLink>
            </li>
          ))
        )
      }
    </ul>
  </MetaItem>
</div>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  .meta-items {
    display: block flex;

    flex-wrap: wrap;

    gap: spacing(2) spacing(4);

    align-items: center;

    color: gray(55.6%);

    @include variants.dark {
      color: gray(70.8%);
    }
  }

  ul {
    display: block flex;

    flex-flow: row nowrap;

    align-items: center;

    white-space: nowrap;

    li + li::before {
      white-space: pre;
      color: var(--meta-divider);

      content: ' /';
    }
  }
</style>
