---
import type { Page } from "astro"
import { Icon } from "astro-icon/components"
import { url } from "$/utils/urls"
import type { CollectionEntry } from "astro:content"

type Props = Readonly<{
  page: Page<CollectionEntry<"posts">>
  class?: string | undefined
  style?: string | undefined
}>

const { page, class: className, style } = Astro.props

const HIDDEN = -1

const ADJ_DIST = 2
const VISIBLE = ADJ_DIST * 2 + 1

// for test
let count = 1
let leftmost = page.currentPage
let rightmost = page.currentPage
while (
  0 < leftmost - 1 &&
  rightmost + 1 <= page.lastPage &&
  count + 2 <= VISIBLE
) {
  count += 2
  leftmost -= 1
  rightmost += 1
}
while (0 < leftmost - 1 && count < VISIBLE) {
  count += 1
  leftmost -= 1
}
while (rightmost + 1 <= page.lastPage && count < VISIBLE) {
  count += 1
  rightmost += 1
}

const pages: number[] = []
if (leftmost > 1) {
  pages.push(1)
}
if (leftmost === 3) {
  pages.push(2)
} else if (leftmost > 3) {
  pages.push(HIDDEN)
}
for (let i = leftmost; i <= rightmost; i += 1) {
  pages.push(i)
}
if (rightmost < page.lastPage - 2) {
  pages.push(HIDDEN)
} else if (rightmost === page.lastPage - 2) {
  pages.push(page.lastPage - 1)
}
if (rightmost < page.lastPage) {
  pages.push(page.lastPage)
}

const getPageUrl = (p: number): string => (p === 1 ? "/" : `/${p}/`)
---

<nav class={className} {style}>
  <a
    href={page.url.prev === undefined ? undefined : url(page.url.prev)}
    aria-label="previous page"
    aria-disabled={page.url.prev === undefined}
    class="previous-page"
  >
    <Icon name="tabler:chevron-left" size="1.75rem" />
  </a>
  <ol class="page-buttons">
    {
      pages.map((p) =>
        p === HIDDEN ? <Icon name="tabler:dots" class="hidden-pages" />
        : p === page.currentPage ? <div class="current-page">{p}</div>
        : <a
            href={url(getPageUrl(p))}
            aria-label={`page ${p}`}
            class="other-page"
          >
            {p}
          </a>,
      )
    }
  </ol>
  <a
    href={page.url.next === undefined ? undefined : url(page.url.next)}
    aria-label="next page"
    aria-disabled={page.url.next === undefined}
    class="next-page"
  >
    <Icon name="tabler:chevron-right" size="1.75rem" />
  </a>
</nav>

<style lang="scss">
  @use "$/styles/main";
  @use "$/styles/theme" as *;
  @use "$/styles/utils" as *;
  @use "$/styles/variants";

  nav {
    display: flex;
    flex-direction: row;
    gap: spacing(3);
    justify-content: center;
  }

  .previous-page,
  .next-page {
    @extend .btn-card;
    overflow: hidden;
    border-radius: $radius-lg;
    color: var(--primary);
    width: spacing(11);
    height: spacing(11);
    &:active {
      scale: 85%;
    }
  }

  .page-buttons {
    background-color: var(--card-bg);
    display: flex;
    flex-direction: row;
    border-radius: $radius-lg;
    align-items: center;
    font-weight: $font-weight-bold;

    color: $color-neutral-700;
    @include variants.dark {
      color: $color-neutral-300;
    }

    .hidden-pages {
      margin-left: spacing(1);
      margin-right: spacing(1);
    }

    .current-page,
    .other-page {
      height: spacing(11);
      width: spacing(11);
      border-radius: $radius-lg;
    }

    .current-page {
      background-color: var(--primary);
      display: flex;
      align-items: center;
      justify-content: center;

      color: $color-white;
      @include variants.dark {
        color: black(70%);
      }
    }
    .other-page {
      @extend .btn-card;
      overflow: hidden;
      &:active {
        scale: 85%;
      }
    }
  }
</style>
