---
import { getPostUrlByID } from '$/utils/urls'
import type { CollectionEntry } from 'astro:content'

interface Props {
  post: CollectionEntry<'posts'>
}
const { post } = Astro.props

function formatDate(date: Date) {
  const format = new Intl.DateTimeFormat('en-US', {
    month: 'numeric',
    day: '2-digit',
  })
  return format.format(date)
}

function formatTag(tag: readonly string[]) {
  return tag.map((t) => `#${t}`).join(' ')
}
---

<a href={getPostUrlByID(post.id)} aria-label={post.data.title}>
  <div class="item-wrapper">
    <!-- date -->
    <time datetime={post.data.published.toISOString()}>
      {formatDate(post.data.published)}
    </time>

    <!-- dot and line -->
    <div class="separator">
      <div></div>
    </div>

    <!-- post title -->
    <div class="title">
      {post.data.title}
    </div>

    <!-- tag list -->
    <div class="tag-list">
      {formatTag(post.data.tags)}
    </div>
  </div>
</a>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  %dash-line {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: calc(50% - 1px);
      translate: 0 -50%;
      transition: all 300ms;
      width: 10%;
      height: 100%;
      pointer-events: none;
      border: {
        style: dashed;
        left: {
          width: 2px;
          color: var(--line-color);
        }
      }
    }
  }

  a {
    @extend %btn-plain;
    display: block !important;
    height: spacing(10);
    width: 100%;
    border-radius: $radius-lg;

    &:hover {
      color: initial;
    }

    .item-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
    }

    time {
      width: 15%;
      @include transition();
      text-align: right;
      @include text-plain(50%);

      @include variants.md {
        width: 10%;
      }
    }

    .separator {
      @extend %dash-line;
      display: flex;
      align-items: center;
      position: relative;
      width: 15%;
      height: 100%;

      @include variants.md {
        width: 10%;
      }

      div {
        @include transition($properties: all);
        margin-left: auto;
        margin-right: auto;
        width: spacing(1);
        height: spacing(1);
        border-radius: $radius-sm;
        background-color: with-hue(50%, 0.05);
        outline: {
          style: solid;
          width: 4px;
          color: var(--card-bg);
        }
        z-index: 50;
      }
    }

    .title {
      width: 70%;
      text-align: left;
      font-weight: $font-weight-bold;
      @include transition($properties: all);
      @include text-plain(75%);
      padding-right: spacing(8);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include variants.md {
        width: 60%;
        max-width: 60%;
      }
    }

    .tag-list {
      display: none;
      text-align: left;
      @include font-size($text-sm);
      @include transition();
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include text-plain(30%);

      @include variants.md {
        display: block;
        width: 20%;
      }
    }

    &:hover {
      .title {
        translate: spacing(1);
        color: var(--primary) !important;
      }

      .separator div {
        height: spacing(5);
        background-color: var(--primary);
        outline-color: var(--btn-plain-bg-hover);
      }
    }

    &:active .separator div {
      outline-color: var(--btn-plain-bg-active);
    }
  }
</style>
