---
import path from 'node:path'
import type { CollectionEntry } from 'astro:content'
import { getDir } from '$/utils/urls'
import { Icon } from 'astro-icon/components'
import ImageWrapper from '$/components/misc/ImageWrapper.astro'

interface Props {
  entry: CollectionEntry<'posts'>
  url: string
}

const { entry, url } = Astro.props
const { title, image } = entry.data
---

{
  image === undefined ? (
    <a
      href={url}
      aria-label={title}
      class="!hidden md:!flex items-center justify-center btn-regular w-[3.25rem] absolute right-3 top-3 bottom-3 rounded-xl bg-[--enter-btn-bg] hover:bg-[--enter-btn-bg-hover] active:bg-[--enter-btn-bg-active] active:scale-95"
    >
      <Icon
        size="2.25rem"
        name="tabler:chevron-right"
        class="transition text-[--primary] mx-auto"
      />
    </a>
  ) : (
    <a
      href={url}
      aria-label={title}
      class="group max-h-[20vh] md:max-h-none mx-4 mt-4 -mb-2 md:mb-0 md:mx-0 md:mt-0 md:w-[--coverWidth] relative md:absolute md:top-3 md:bottom-3 md:right-3 rounded-xl overflow-hidden active:scale-95"
    >
      <div class="absolute pointer-events-none z-10 w-full h-full group-hover:bg-black/30 group-active:bg-black/50 transition" />
      <div class="absolute pointer-events-none z-20 w-full h-full flex items-center justify-center ">
        <Icon
          size="3rem"
          name="tabler:chevron-right"
          class="transition opacity-0 group-hover:opacity-100 scale-50 group-hover:scale-100 text-white"
        />
      </div>
      <ImageWrapper
        src={image.source}
        basePath={path.join('content/posts/', getDir(`${entry.id}/`))}
        alt={image.alt}
        class="w-full h-full"
      />
    </a>
  )
}
