---
import type { CollectionEntry } from 'astro:content'
import path from 'node:path'
import { getDir } from '$/utils/urls'
import PostMeta from '$/components/post/meta/PostMeta.astro'
import PostExtraMeta from '$/components/post/meta/PostExtraMeta.astro'
import ImageWrapper from '$/components/misc/ImageWrapper.astro'

interface Props {
  entry: CollectionEntry<'posts'>
  wordCount: number
  readingTime: number
}

const { entry, wordCount, readingTime } = Astro.props
---

<PostExtraMeta
  {wordCount}
  {readingTime}
  class="mb-3 transition onload-animation"
/>

<!-- title -->
<h1>
  <div
    data-pagefind-body
    data-pagefind-weight="10"
    data-pagefind-meta="title"
    class="title-wrapper"
  >
    {entry.data.title}
  </div>
</h1>

<!-- metadata -->
<div class="meta-wrapper">
  <PostMeta {entry} class="mb-5" />
  {entry.data.image === undefined && <hr />}
</div>

{
  entry.data.image !== undefined && (
    <ImageWrapper
      id="post-cover"
      src={entry.data.image.source}
      alt={entry.data.image.alt}
      basePath={path.join('content/posts/', getDir(`${entry.id}/`))}
      class="mb-8 rounded-xl banner-container onload-animation"
    />
  )
}

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/transition';
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  h1 {
    @extend .onload-animation;
    position: relative;

    .title-wrapper {
      @include text-plain(90%);
      @include transition();
      width: 100%;
      display: block;
      font-weight: $font-weight-bold;
      margin-bottom: spacing(3);
      @include font-size($text-xl3);

      @include variants.md {
        font-size: 2.25rem;
        line-height: 2.75rem;
      }

      @include variants.md {
        &::before {
          content: '';
          width: spacing(1);
          height: spacing(5);
          border-radius: $radius-md;
          background-color: var(--primary);
          position: absolute;
          top: spacing(3);
          left: spacing(-4.5);
        }
      }
    }
  }

  .meta-wrapper {
    @extend .onload-animation;

    hr {
      border: 1px dashed var(--line-divider);
      margin-bottom: spacing(5);
    }
  }
</style>
