---
import { SITE } from "@/config";
import type { DateTime } from "@/types";
import day from "dayjs";

import "css-preflight";
import "@/styles/base.sass";

import Header, { type NavItem } from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

import { ClientRouter } from "astro:transitions";
import { getImagePath } from "astro-opengraph-images";

export interface Props {
  /** This page's title. */
  title?: string,
  /** The title to use for Open Graph images. */
  ogTitle?: string,
  /** This page's description. */
  description?: string,
  /** The date this page was published. */
  published?: DateTime,
  /** The date this page was last modified, if any. */
  modified?: DateTime,
  /** The active navigation item. */
  activeNav: NavItem,
}

const {
  title: _title,
  ogTitle = _title ?? SITE.title,
  description = SITE.description,
  published,
  modified,
  activeNav,
} = Astro.props;

const title = _title ? `${_title} | ${SITE.title}` : SITE.title;

/** The canonical URL to this page. */
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

/** This page's Open Graph image. */
const ogImage = getImagePath({ url: Astro.url, site: Astro.site });

/** Structured data for Google Search. */
const structuredData = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  /** This page's title. */
  headline: title,
  /** This page's Open Graph image. */
  image: ogImage,
  /** The date this page was published. */
  datePublished: day(published)?.toISOString(),
  /** The date this page was last modified, if any. */
  dateModified: day(modified)?.toISOString(),
  /** Details about this page's author. */
  author: [{
    "@type": "Person",
    /** The name of this page's author. */
    name: SITE.author,
    /** A URL to the author's profile. */
    url: SITE.profile,
  }],
} as const;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href="/favicon.ico"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="canonical" href={canonicalURL}/>
    <meta name="generator" content={Astro.generator}/>

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content="article"/>
    <meta name="description" content={description}/>
    <meta name="author" content={SITE.author}/>
    <link rel="sitemap" href="/sitemap-index.xml"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={title}/>
    <meta property="og:title" content={ogTitle}/>
    <meta property="og:description" content={description}/>
    <meta property="og:url" content={canonicalURL}/>
    <meta property="og:image" content={ogImage}/>
    <meta property="og:site_name" content={SITE.title}/>

    {published && <meta
      property="article:published_time"
      content={day(published).toISOString()}
    />}
    {modified && <meta
      property="article:modified_time"
      content={day(modified).toISOString()}
    />}

    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content={canonicalURL}/>
    <meta property="twitter:title" content={ogTitle}/>
    <meta property="twitter:description" content={description}/>
    <meta property="twitter:image" content={ogImage}/>

    <!-- Google JSON-LD structured data -->
    <script
      type="application/ld+json"
      set:html={JSON.stringify(structuredData)}
      is:inline
    />

    <!-- Google Search Console -->
    <meta
      name="google-site-verification"
      content="W67jyEkQq8XW9mdSwbixVBe4OCucIRPrXxpRv2cxhyE"
    />

    <link
      rel="preload"
      href="/fonts/recursive.woff2"
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/fonts/kosugi-maru.ttf"
      as="font"
      type="font/ttf"
    />

    <meta name="theme-color" content=""/>
    <script is:inline src="/toggleTheme.js"/>

    <ClientRouter/>
  </head>
  <body>
    <Header {activeNav}/>
    <slot/>
    <Footer/>

    <script is:inline data-astro-rerun>
      document.querySelector("main").id = "main-content";
    </script>
  </body>
</html>
