---
import { SITE } from "@/config"
import type { EntryInfo } from "@/types"
import day from "dayjs"

import "css-preflight"
import "@/styles/base.sass"

import Header, { type NavItem } from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"

import { SEO } from "astro-seo"
import { ClientRouter } from "astro:transitions"
import { fade } from "astro:transitions"

interface Props {
  /** This page's title. */
  title?: string | undefined
  /** This page's description. */
  description?: string | undefined
  /** Metadata for the blog post on this page. */
  postInfo?: EntryInfo<"posts"> | undefined
  /** The active navigation item. */
  activeNav: NavItem
}

const {
  title,
  description = SITE.description,
  postInfo,
  activeNav,
} = Astro.props
---

<!doctype html>
<html
  lang="en"
  data-theme="dark"
  transition:animate={fade({ duration: 300 })}
>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/png" href="/favicon.ico"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="sitemap" href="/sitemap-index.xml"/>

    <!-- View Transitions -->
    <ClientRouter/>

    <!-- Google Search Console -->
    <meta
      name="google-site-verification"
      content="W67jyEkQq8XW9mdSwbixVBe4OCucIRPrXxpRv2cxhyE"
    />

    <!-- Font preloading -->
    <link
      rel="preload"
      href="/fonts/recursive.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/kosugi-maru.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />

    <!-- Themes -->
    <meta name="theme-color" content=""/>
    <script is:inline src="/themeSetup.js"/>

    <!-- General Meta Tags -->
    <SEO
      {title}
      titleTemplate=`%s | ${SITE.title}`
      titleDefault={SITE.title}
      {description}
      openGraph={{
        basic: {
          title: title ?? SITE.title,
          type: "article",
          image: "",
        },
        article: postInfo && {
          publishedTime: day(postInfo.published).toISOString(),
          modifiedTime: day(postInfo.modified).toISOString(),
          authors: [SITE.author],
          tags: postInfo.tags,
        },
      }}
      twitter={{
        card: "summary",
        title: title ?? SITE.title,
        description,
      }}
      extend={{
        meta: [
          { name: "author", content: SITE.author },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
  </head>
  <body>
    <Header {activeNav}/>
    <slot/>
    <Footer/>

    <script is:inline data-astro-rerun>
      document.querySelector("main").id = "main-content"
    </script>
    <script src="@/utils/consoleMessage.ts"/>
  </body>
</html>
