---
import Footer from '$/components/global/Footer.astro'
import Navbar from '$/components/global/nav/Navbar.astro'
import BackToTop from '$/components/widget/BackToTop.astro'
import SideBar from '$/components/widget/sidebar/Sidebar.astro'
import Layout from '$/layouts/Layout.astro'
import siteConfig from '$/config/site'
import type { MarkdownHeading } from 'astro'
import TOCWrapper from '$/components/widget/toc/TOCWrapper.astro'
import {
  BANNER_HEIGHT,
  MAIN_PANEL_OVERLAPS_BANNER_HEIGHT,
} from '$/constants/constants'
import Banner from '$/components/global/Banner.astro'
import BannerCredit from '$/components/global/BannerCredit.astro'

interface Props {
  title?: string
  description?: string
  setOGTypeArticle?: boolean
  headings?: readonly MarkdownHeading[]
}

const { title, description, setOGTypeArticle, headings = [] } = Astro.props

const mainPanelTop =
  siteConfig.banner === undefined
    ? '5.5rem'
    : `calc(${BANNER_HEIGHT}vh - ${MAIN_PANEL_OVERLAPS_BANNER_HEIGHT}rem)`
---

<Layout {title} {description} {setOGTypeArticle}>
  <!-- navbar -->
  <slot slot="head" name="head" />
  <header id="top-row">
    <div id="navbar-wrapper">
      <Navbar />
    </div>
  </header>

  {siteConfig.banner !== undefined && <Banner config={siteConfig.banner} />}

  <!-- main content -->
  <!-- pointer-events-none prevents blocking TOC click events -->
  <div
    class="main-outer-wrapper"
    style={`top: ${mainPanelTop}`}
  >
    <div class="main-inner-wrapper">
      <div id="main-grid">
        {
          siteConfig.banner?.credit !== undefined && (
            <BannerCredit config={siteConfig.banner.credit} />
          )
        }

        <SideBar
          class="mb-4 row-start-2 row-end-3 col-span-2 lg:row-start-1 lg:row-end-2 lg:col-span-1 lg:max-w-[17.5rem] onload-animation"
        />

        <!-- overflow-hidden prevents long text from breaking the layout-->
        <main id="swup-container" class="transition-swup-fade">
          <div id="content-wrapper">
            <slot />
            <div class="footer-mobile">
              <Footer />
            </div>
          </div>
        </main>

        <div class="footer-desktop">
          <Footer />
        </div>
      </div>

      <BackToTop />
    </div>
  </div>

  <TOCWrapper {headings} />
</Layout>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/transition';
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  #top-row {
    @include transition($properties: all, $duration: 700ms);
    z-index: 50;
    pointer-events: none;
    position: relative;
    max-width: var(--page-width);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

    @include variants.md {
      padding-left: spacing(4);
      padding-right: spacing(4);
    }

    #navbar-wrapper {
      @include transition($properties: all);
      pointer-events: auto;
      position: sticky;
      top: 0;
    }
  }

  .main-outer-wrapper {
    position: absolute;
    width: 100%;
    z-index: 30;
    pointer-events: none;

    .main-inner-wrapper {
      position: relative;
      max-width: var(--page-width);
      margin-left: auto;
      margin-right: auto;
      pointer-events: auto;

      #main-grid {
        @include transition($duration: 700ms);
        width: 100%;
        left: 0;
        right: 0;
        display: grid;
        grid-template-columns: spacing(70) auto;
        grid-template-rows: auto 1fr auto;
        gap: spacing(4);
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;

        @include variants.md {
          padding-left: spacing(4);
          padding-right: spacing(4);
        }

        @include variants.lg {
          grid-template-rows: auto;
        }
      }
    }
  }

  main {
    overflow: hidden;
    grid-column: span 2 / span 2;
    outline: 2px solid transparent {
      offset: 2px;
    }

    @include variants.lg {
      grid-column: span 1 / span 1;
    }

    #content-wrapper {
      @extend .onload-animation;
      animation-delay: var(--content-delay);
    }
  }

  .footer {
    @extend .onload-animation;
    animation-delay: 250ms;
    grid-column: span 2 / span 2;

    &-desktop, &-mobile {
      @extend .footer;
    }

    &-desktop {
      display: block;
      @include variants.lg {
        display: none;
      }
    }
    &-mobile {
      display: none;
      @include variants.lg {
        display: block;
      }
    }
  }
</style>
