---
import Footer from '$/components/global/Footer.astro'
import Navbar from '$/components/global/nav/Navbar.astro'
import BackToTop from '$/components/widget/BackToTop.astro'
import Sidebar from '$/components/widget/sidebar/Sidebar.astro'
import Layout, { type Props as LayoutProps } from '$/layouts/Layout.astro'
import siteConfig from '$/config/site'
import type { MarkdownHeading } from 'astro'
import TOCWrapper from '$/components/widget/toc/TOCWrapper.astro'
import {
  BANNER_HEIGHT,
  MAIN_PANEL_OVERLAPS_BANNER_HEIGHT,
} from '$/constants/constants'
import Banner from '$/components/global/Banner.astro'
import BannerCredit from '$/components/global/BannerCredit.astro'

export interface Props extends LayoutProps {
  headings?: readonly MarkdownHeading[]
}

const { headings = [], ...props } = Astro.props

const mainPanelTop =
  siteConfig.banner === undefined
    ? 'calc(var(--spacing) * 22)'
    : `calc(${BANNER_HEIGHT}vh - ${MAIN_PANEL_OVERLAPS_BANNER_HEIGHT}rem)`
---

<Layout {...props}>
  <!-- navbar -->
  <slot slot="head" name="head" />
  <header id="top-row">
    <div id="navbar-wrapper">
      <Navbar />
    </div>
  </header>

  {siteConfig.banner !== undefined && <Banner config={siteConfig.banner} />}

  <div class="main-outer-wrapper" style={{ insetBlockStart: mainPanelTop }}>
    <div class="main-inner-wrapper">
      <div id="main-grid">
        {
          siteConfig.banner?.credit !== undefined && (
            <BannerCredit config={siteConfig.banner.credit} />
          )
        }

        <Sidebar class="sidebar" />

        <main id="swup-container" class="transition-swup-fade">
          <div id="content-wrapper">
            <slot />
            <div class="footer-mobile">
              <Footer />
            </div>
          </div>
        </main>

        <div class="footer-desktop">
          <Footer />
        </div>
      </div>

      <BackToTop />
    </div>
  </div>

  <TOCWrapper {headings} />
</Layout>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;
  @use '$/styles/transition';
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  #top-row {
    @include transition($duration: 700ms, $properties: all);

    position: relative;

    z-index: 50;

    margin-inline: auto;

    padding-inline: spacing(4);

    max-inline-size: var(--page-width);

    pointer-events: none;

    #navbar-wrapper {
      @include transition($properties: all);
      position: sticky;
      inset-block-start: 0;

      pointer-events: auto;
    }

    @media (width < $breakpoint-md) {
      padding-inline: 0;
    }
  }

  .main-outer-wrapper {
    position: absolute;

    z-index: 30;

    inline-size: 100%;

    pointer-events: none;

    .main-inner-wrapper {
      position: relative;

      margin-inline: auto;

      max-inline-size: var(--page-width);

      pointer-events: auto;

      #main-grid {
        @include transition($duration: 700ms);
        display: block grid;
        inset-inline: 0;

        grid-template-rows: auto;
        grid-template-columns: spacing(70) auto;

        gap: spacing(4);

        margin-inline: auto;

        padding-inline: spacing(4);

        inline-size: 100%;

        :global(.sidebar) {
          @extend %onload-animation;
          grid-row: 2 / 3;
          grid-column: span 2 / span 2;

          margin-block-end: spacing(4);

          @media (width >= $breakpoint-lg) {
            grid-row: 1 / 2;
            grid-column: span 1 / span 1;

            max-inline-size: spacing(70);
          }
        }

        @media (width < $breakpoint-md) {
          padding-inline: 0;
        }

        @media (width < $breakpoint-lg) {
          grid-template-rows: auto 1fr auto;
        }
      }
    }
  }

  main {
    grid-column: span 1 / span 1;

    outline: 2px solid transparent;
    outline-offset: 2px;

    overflow: hidden;

    #content-wrapper {
      @extend %onload-animation;

      animation-delay: var(--content-delay);
    }

    @media (width < $breakpoint-lg) {
      grid-column: span 2 / span 2;
    }
  }

  %footer {
    @extend %onload-animation;

    grid-column: span 2 / span 2;

    animation-delay: 250ms;
  }

  .footer-desktop {
    @extend %footer;

    @media (width >= $breakpoint-lg) {
      display: none;
    }
  }

  .footer-mobile {
    @extend %footer;

    @media (width < $breakpoint-lg) {
      display: none;
    }
  }
</style>
