---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Breadcrumbs from "@/components/Breadcrumbs.astro"
import type { NavItem } from "@/components/Header.astro"

interface Props {
  /** This page's title. */
  title: string
  /** This page's description. */
  description?: string | undefined
  /** The active navigation item. */
  activeNav: NavItem
}

const { title, description, activeNav } = Astro.props
---

<BaseLayout {title} {description} {activeNav}>
  <Breadcrumbs/>
  <main>
    <hgroup>
      <h1>{title}</h1>
      {description && <p>{description}</p>}
    </hgroup>
    <slot/>
  </main>

  <slot name="after-main"/>
</BaseLayout>

<style lang="sass">
  main
    +margin-x(auto)
    width: 100%
    padding-bottom: 1rem
    hgroup
      h1
        +font(font-sizes.$extralarge2, font-weights.$semibold)
        @include desktop
          font-size: font-sizes.$extralarge3
      p
        +margin-y(0.5rem, 1.5rem)
        font-style: italic
</style>
