---
import MainGridLayout from '$/layouts/MainGridLayout.astro'
import Markdown from '$/components/post/Markdown.astro'

interface Props {
  frontmatter: Readonly<{
    title: string
    description?: string
  }>
}

const { title, description = title } = Astro.props.frontmatter

class InvalidPropError extends TypeError {
  constructor(
    readonly propName: string,
    readonly expectedType: string,
    readonly actualType: string,
  ) {
    super()
  }

  override get message() {
    return `\
invalid '${this.propName}' prop (type '${this.actualType}' \
is not assignable to '${this.expectedType}')` as const
  }
}

// Astro doesn't validate prop types in Markdown layouts, so we've gotta do it
// manually.
if (typeof title !== 'string') {
  throw new InvalidPropError('title', 'string', typeof title)
}
if (typeof description !== 'string') {
  throw new InvalidPropError('description', 'string', typeof description)
}
---

<MainGridLayout {title} {description}>
  <div class="outer-wrapper">
    <div class="inner-wrapper">
      <Markdown class="markdown">
        <slot />
      </Markdown>
    </div>
  </div>
</MainGridLayout>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  .outer-wrapper {
    display: flex;
    width: 100%;
    border-radius: $radius-xl2;
    overflow: hidden;
    position: relative;
    min-height: spacing(32);

    .inner-wrapper {
      @extend %card-base;
      z-index: 10;
      padding: spacing(6) spacing(9);
      position: relative;
      width: 100%;

      :global(.markdown) {
        margin-top: spacing(2);
      }
    }
  }
</style>
