---
import { render, type CollectionEntry } from "astro:content";
import { SITE } from "@config";

import Layout, { type Props as LayoutProps } from "@layouts/Layout.astro";
import Tag from "@components/Tag.astro";
import Comments from "@components/Comments";
import Timestamp from "@components/Timestamp";
import PostLinks from "@components/PostLinks.astro";
import ShareLinks from "@components/ShareLinks.astro";
import BackToTop from "@components/BackToTop.astro";
import BackButton from "@components/BackButton.astro";

import ScrollProgress from "@components/scripts/ScrollProgress.astro";
import HeadingLinks from "@components/scripts/HeadingLinks.astro";
import CodeBlockExtras from "@components/scripts/CodeBlockExtras.astro";

export interface Props {
  /** The post to display. */
  post: CollectionEntry<"blog">,
  /** A list of all posts. */
  posts: CollectionEntry<"blog">[],
}

const { post, posts } = Astro.props;

const {
  title,
  description,
  readingTime,
  published,
  modified,
  tags,
} = post.data;

const { Content } = await render(post);

/** Properties to pass to the `Layout` component. */
const layoutProps: LayoutProps = {
  title: `${title} | ${SITE.title}`,
  ogTitle: title,
  description,
  published,
  modified,
  scrollSmooth: true,
};
---

<Layout {...layoutProps}>
  <BackButton class="back-button"/>

  <main>
    <h1>{title}</h1>
    <Timestamp {published} {modified} size="lg" className="timestamp"/>
    <span class="reading-time">{readingTime}</span>
    
    <article class="prose mx-auto mt-8 max-w-3xl">
      <Content/>
    </article>

    <ul class="tag-list">
      {tags.map(tag => <Tag {tag}/>)}
    </ul>

    <div id="article-footer">
      <BackToTop/>
      <ShareLinks/>
    </div>

    <PostLinks {post} {posts}/>
    <Comments client:only="react"/>
  </main>
</Layout>

<style lang="scss">
  .back-button {
    margin: theme("spacing.8") auto theme("spacing.2");
    width: 100%;
    max-width: theme("maxWidth.3xl");
    justify-content: flex-start;
    padding-left: theme("spacing.4");
    padding-right: theme("spacing.4");
  }

  main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: theme("maxWidth.3xl");
    padding-left: theme("spacing.4");
    padding-right: theme("spacing.4");
    padding-bottom: theme("spacing.12");
  }
  h1 {
    @apply text-2xl;
    font-weight: theme("fontWeight.semibold");
    color: rgb(var(--color-accent));
  }
  .reading-time {
    opacity: 80%;
  }
  .timestamp {
    margin-top: theme("spacing.2");
    margin-bottom: theme("spacing.1");
  }

  .tag-list {
    margin-top: theme("spacing.8");
    margin-bottom: theme("spacing.8");
  }
  #article-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: theme("spacing.6");
    
    @media (min-width: theme("screens.sm")) {
      flex-direction: row-reverse;
      align-items: flex-end;
      gap: theme("spacing.4");
    }
  }
</style>

<ScrollProgress/>
<HeadingLinks/>
<CodeBlockExtras/>

<script is:inline data-astro-rerun>
  /* go to page start after transition */
  document.addEventListener("astro:after-swap", () =>
    scrollTo({ left: 0, top: 0, behavior: "instant" })
  );
</script>
