---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"blog">>,
}

const { page } = Astro.props;

const description = "all the blog posts I've let loose on the world";
---

<Layout title={`posts | ${SITE.title}`} {description} activeNav="posts">
  <Main title="posts" {description}>
    <ul>
      {page.data.map(({ data, id }) =>
        <Card {id} frontmatter={data}/>
      )}
    </ul>
  </Main>

  <Pagination {page}/>
</Layout>
