---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import SongCard from "@components/SongCard.astro";
import { SITE } from "@config";
import type { CollectionEntry } from "astro:content";

export interface Props {
  /** A list of all songs. */
  songs: CollectionEntry<"songs">[],
}

const { songs } = Astro.props;

/** Original songs. */
const originals = songs.filter(song => !song.data.remixDetails)
/** Remixed songs. */
const remixes = songs.filter(song => song.data.remixDetails)

/** The description of the Songs section. */
const description = "all the songs I've created or remixed";
---

<Layout title={`songs | ${SITE.title}`} {description} activeNav="songs">
  <Main title="songs" {description}>
    <section id="originals">
      <h2>originals</h2>
      <ul>
        {originals.map(song => <SongCard data={song.data}/>)}
      </ul>
    </section>

    <section id="remixes">
      <h2>remixes</h2>
      <ul>
        {remixes.map(song => <SongCard data={song.data}/>)}
      </ul>
    </section>
  </Main>
</Layout>

<style lang="sass">
  section
    padding: 0.75rem 0rem 1.5rem
    h2
      +font-size($font-size-2xl)
      font-weight: $font-weight-semibold
      letter-spacing: $letter-spacing-wide
      margin-bottom: 1rem

  ul
    display: flex
    flex-direction: row
    gap: 1.5rem
    flex-wrap: wrap
</style>
