---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import SongCard from "@components/SongCard.astro";
import { SITE } from "@config";
import type { CollectionEntry } from "astro:content";

export interface Props {
  songs: CollectionEntry<"songs">[],
}

const { songs } = Astro.props;

const originals = songs.filter(song => !song.data.remixDetails)
const remixes = songs.filter(song => song.data.remixDetails)

const description = "all the songs I've created or remixed";
---

<Layout title={`songs | ${SITE.title}`} {description} activeNav="songs">
  <Main title="songs" {description}>
    <section id="originals">
      <h2>originals</h2>
      <ul>
        {originals.map(song => <SongCard frontmatter={song.data}/>)}
      </ul>
    </section>

    <section id="remixes">
      <h2>remixes</h2>
      <ul>
        {remixes.map(song => <SongCard frontmatter={song.data}/>)}
      </ul>
    </section>
  </Main>
</Layout>

<style>
  section {
    @apply pb-6 pt-3 px-0;
  }
  section h2 {
    @apply text-2xl font-semibold tracking-wide mb-4;
  }
  ul {
    @apply flex flex-row gap-6 flex-wrap;
  }
</style>
