---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import type { Tag } from "types";

export interface Props {
  /** The current page. */
  page: Page<CollectionEntry<"blog">>,
  /** The tag being used to filter posts. */
  tag: Tag,
}

const { page, tag } = Astro.props;

/** This page's description. */
const description = `${page.total} ${page.total === 1 ? "article" : "articles"} tagged with "${tag}"`;
---

<Layout title={`tag: ${tag} | ${SITE.title}`} {description} activeNav="tags">
  <Main title={`tag: ${tag}`} {description}>
    <h1 slot="title" >{`tag: ${tag}`}</h1>
    <ul>
      {page.data.map(({ data, id }) => <Card {id} frontmatter={data}/>)}
    </ul>
  </Main>

  <Pagination {page}/>
</Layout>
