---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Card from "@components/Card.astro";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"blog">>,
  tag: string,
}

const { page, tag } = Astro.props;

const description = `${page.total} ${page.total === 1 ? "article" : "articles"} tagged with "${tag}"`;
---

<Layout title={`tag: ${tag} | ${SITE.title}`} {description} activeNav="tags">
  <Main title={[`tag:`, tag]} titleTransition={tag} {description}>
    <h1 slot="title" transition:name={tag}>{`tag:${tag}`}</h1>
    <ul>
      {page.data.map(({ data, slug }) =>
        <Card {slug} frontmatter={data}/>
      )}
    </ul>
  </Main>

  <Pagination {page}/>
</Layout>
