---
import siteConfig from '$/config/site'
import {
  BANNER_HEIGHT_EXTEND,
  DEFAULT_COLOR_SCHEME,
} from '$/constants/constants'

interface Props {
  title?: string | undefined
  description?: string | undefined
  setOGTypeArticle?: boolean | undefined
}

const { title, description, setOGTypeArticle = false } = Astro.props

const pageTitle =
  title === undefined
    ? `${siteConfig.title} - ${siteConfig.subtitle}`
    : `${title} - ${siteConfig.title}`
---

<head>
  <title>{pageTitle}</title>

  <meta charset="UTF-8" />
  <meta name="description" content={description ?? pageTitle} />
  <meta name="author" content={siteConfig.profile.name} />

  <meta property="og:site_name" content={siteConfig.title} />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={pageTitle} />
  <meta property="og:description" content={description ?? pageTitle} />
  <meta property="og:type" content={setOGTypeArticle ? 'article' : 'website'} />

  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta name="twitter:title" content={pageTitle} />
  <meta name="twitter:description" content={description ?? pageTitle} />

  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" href="/favicon.png" sizes="280x280" />

  <!-- set color scheme early to avoid FOUC -->
  <script
    is:inline
    define:vars={{
      DEFAULT_COLOR_SCHEME,
      BANNER_HEIGHT_EXTEND,
      configHue: siteConfig.defaultHue,
    }}
  >
    // @ts-nocheck

    /** @type {import("$/types/config").ColorScheme} */
    const colorScheme =
      localStorage.getItem('colorScheme') ?? DEFAULT_COLOR_SCHEME

    document.documentElement.dataset.colorScheme =
      colorScheme === 'auto'
        ? window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light'
        : colorScheme

    // load hue from local storage
    const hue = localStorage.getItem('hue') ?? configHue
    document.documentElement.style.setProperty('--hue', hue)

    // --banner-height-extend needs to be a multiple of 4 to avoid blurry text
    const offset = Math.floor(window.innerHeight * (BANNER_HEIGHT_EXTEND / 100))
    const boundedOffset = offset - (offset % 4)
    document.documentElement.style.setProperty(
      '--banner-height-extend',
      `${boundedOffset}px`,
    )
  </script>

  <slot name="head" />

  <link
    rel="alternate"
    type="application/rss+xml"
    title={siteConfig.profile.name}
    href="/rss.xml"
  />
</head>
